

.team__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 1rem; */
}

.team_card_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.team__containte{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}


.team_card_box{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    align-items: center;
}

.team__containte p{
 font-size: 1rem;
 font-family:  "Nova Mono", monospace;
}
.team__containte .p1{
    color: var(--cyan);
    font-size: 1.3rem;
    font-weight: 600;
}



.team__containte h1{
    font-size: 2rem;
    font-family: "Salsa", cursive ;
    text-transform: capitalize;
    letter-spacing: 3px;
}



/* font-family: "Salsa", cursive; */