

:root{
  --light-cyan: #77E4C8;
  --cyan: #36C2CE;
  --bg-color:#4535C1 ;
  --hover-color: #478CCF;
  --text-shadow: 2px 3px 3px rgba(0,0,0,0.4);
  --box-shadow: 2px 3px 5px rgba(0,0,0,0.7);
}

p{
 font-family: "Nova Mono", monospace; 
 color: black;
}

section{
  margin: 2rem 0;
}

body{
  margin: 2rem 5rem;
  background: #eee;
}

.btn{
  font-size: 0.9rem;
  font-family: "Nova Mono", monospace;
  padding: 0.6rem;
  margin-right: 0.7rem;
  background: transparent;
  border: none;
  /* color: var(--bg-color); */
  color: white;
  font-weight: 600;
  cursor: pointer;
  background: var(--light-cyan);
  border-radius: 0.5rem;
  transition: all ease-in 0.3s;
}

.btn:hover{
  background: var(--light-cyan);
  border-radius: 0.5rem;
  border: 2px solid var(--bg-color);
  /* padding: 0.8rem; */
  box-shadow: var(--box-shadow);

}


.apropos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  /* background: rgba(149, 225, 225, 0.198); */
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.container__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__text h2{
  font-size: 1.9rem;
  font-family: "Salsa", cursive ;
  text-align: center;
  color: var(--light-cyan);
}

.container__text p{
  font-size: 0.8rem;
  margin-top: -1rem;
  font-weight: bold;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
